.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
}

body {
    background-color: hsl(0, 0%, 95%);
}
body, .btn {
    font-family: "Lexend Deca", sans-serif;
    

}

.container {

    margin: 2.5rem 0.3rem;
    padding: 2.5rem 1.9rem;    
    
}

.card {
    padding: 3.5rem;
}

.card img, h1 {
    margin-bottom: 1.8rem;
}

.card p {
    margin-bottom: 1.9rem;
}

p {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.6;
}

h1 {
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    font-size: 2.2rem;
    color: hsl(0, 0%, 95%);
}

.bright-orange {
    background-color: var(--Bright-orange);
    border-radius: 10px 10px 0 0;
}
    .bright-orange .btn {
        color: var(--Bright-orange);
    }

.dark-cyan {
    background-color: var(--Dark-cyan);
}
    .dark-cyan .btn {
        color: var(--Dark-cyan);
    }

.very-dark-cyan {
    background-color: var(--Very-dark-cyan);
    border-radius:0 0 10px 10px;
}
    .very-dark-cyan .btn {
        color: var(--Very-dark-cyan);
    }

.btn {
    background-color:#fff;
    padding: 15px 25px;
    border: 2px solid #fff;
    border-radius: 30px;
    cursor: pointer;
    

}

.btn:hover {
    transition: all 0.4s ease-in-out;
    background-color: transparent;
    color: #fff;
}


@media (min-width: 600px) {
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        max-width: 900px;
        margin: auto;
    }

    .card {
        padding: 50px;
    }

    .card p {
        margin-bottom: 80px;
    }

    .bright-orange {
        border-radius: 10px 0 0 10px;
    }

    .very-dark-cyan {
        border-radius: 0 10px 10px 0;
    }

}